p{
    margin: 0;
}
.wrap{
    padding: 1.5rem;
    display: flex;
    background-color:  hsl(10, 79%, 65%);
    align-items: center;
    gap: 18rem;
    color: white;
    margin-bottom: 1.5rem;
    border-radius: 15px; 
    min-width: 10rem;
}

.strapline{
    margin-bottom: 0.5rem;
}
.balance{
    font-size: 2rem;
    font-weight: 500;
}